*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:url(/IMG/white2.jpg);
}

/* container GRID CSS */

.container{
    width: 100vw;
    height: 100vh;
    display: grid;

    grid-template-columns: 23% 1fr;
    grid-template-rows: 8% 1fr 20%;

    gap: 25px;
    padding-inline: 100px;
    padding-block: 25px;
    box-sizing: border-box;
}

/* BOX STYLE CSS */

.box1{
    padding-block: 30px;

    padding-inline: 90px;

    display: flex;

    background-color: white;

    border-radius: 5px;
    
    /* padding: 10px; */

    grid-column: 1/2;

    grid-row: 2/3;
}

.box2{
    background-color: white;

    font-weight: bold;

    font-family:sans-serif;

    font-size: 15px;

    display: flex;

    border-radius: 5px;

    padding-inline: 10px;

    grid-column: 2/3;

    grid-row: 1/2;
}

.box3{
    border-radius: 5px;

    padding: 10px;

    grid-column: 2/3;

    grid-row: 2/4;
}

/* BOX DESIGN CSS */

.box1{
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.27);
}

.box2{
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.27);
}

.box3{
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.27);
}

/* ICON SIZE CSS */

.media img{
    width: 25px;
    height: 25px;
}

.tab img{
    width: 30px;
    height: 30px;
}

/* LINK PROPERTIES CSS */

.tab a{
    color: black;
    text-decoration: none;
}

/* TAB DSIPLAY CSS */

.tab {
    align-items: center;
    display: flex;
    padding-inline: 50px;
    border-right: 1px dashed grey;
}

.tab img{
    margin-right: 10px;
}


/* PROFILE DESING CSS */

.media img{
    margin-right: 30px;
}